<!DOCTYPE html>
<html>
<body>
    <% books.forEach(function(book){ %>
        <div>
            <h2><%= book.title %></h2>
            <p><%= book.author %></p>
        </div>
    <% }); %>
</body>
</html>